<div class="col-xs-12 col-sm-6 col-md-6">
  <div class="arts">
    {{#link-to "art" art}}
      <img src={{art.smallUrl}}>
    {{/link-to}}
    <p><strong>{{art.title}}</strong> {{art.caption}}</p>
  </div>
</div>
