@import 'bootstrap';
@import 'bootstrap/theme';

.file-picker__preview__image {
  max-width: 300px
}

.collection {
  margin: 20px 0 20px
}

.coverImage {
  padding: 10%;
  width: 100%;
  height: 250px;
  background-position: center;
  background-size: 100%;
}

.coverImage h1 {
  color: #fff;
  text-shadow: #000 1px 1px 2px;
  position: absolute;
  bottom: 100px;
  right: 50px;
}

.add-image-button {
  float: right;
  position: relative;
  bottom: 30px;
}

.arts {
  margin-bottom: 40px;
}

.amethyst {
  color: #9966cc /** Amethyst, Moderate violet, a websafe color */
}
.ameblue {
  color: #6666cc /** Moderate blue, a websafe color */
}
.amemagenta {
  color: #cc66cc /** Moderate magenta, a websafe color */
}
.byzantine {
  color: #bd33a4 /** Byzantine, Moderate magenta */
}
.dkorchid {
  color: #9932cc /** Dark orchid, Strong violet */
}
.jazzberry {
  color: #a50b5e /** Jazzberry jam, Dark pink */
}
.redviolet {
  color: #c71585 /** Red violet, Strong pink */
}

.amethyst-bg {
  color: white;
  background: #9966cc /** Amethyst, Moderate violet, a websafe color */
}
.ameblue-bg {
  color: white;
  background: #6666cc /** Moderate blue, a websafe color */
}
.amemagenta-bg {
  color: white;
  background: #cc66cc /** Moderate magenta, a websafe color */
}
.byzantine-bg {
  color: white;
  background: #bd33a4 /** Byzantine, Moderate magenta */
}
.dkorchid-bg {
  color: white;
  background: #9932cc /** Dark orchid, Strong violet */
}
.jazzberry-bg {
  color: white;
  background: #a50b5e /** Jazzberry jam, Dark pink */
}
.redviolet-bg {
  color: white;
  background: #c71585 /** Red violet, Strong pink */
}
