<label class="col-xs-12 col-sm-2 control-label">
  Title
</label>
<div class="col-xs-12 col-sm-10">
  {{input
    class="form-control"
    id="title"
    placeholder="Image Title"
    type="text"
    value=title}}
</div>
