<h3>All Collections</h3>

{{#each model as |collection|}}
 Image: <img src="{{collection.smallUrl}}" />
<ul>
  <li>Name: {{collection.name}}</li>
  <li>Owner: {{collection.user}}</li>
  <li>Description: {{collection.desc}}</li>
</ul>
{{/each}}
