<h2>{{model.email}}</h2>

<div class="row">
  <div class="col-md-6">
    {{profile-edit user=model buttonLabel='Save changes' action='saveUser'}}
  </div>

  <div class="col-md-4">
    {{#profile-show user=model}}
    <br/>
    {{/profile-show}}
  </div>
</div>
