<label class="col-xs-12 col-sm-2 control-label">
  Caption
</label>
<div class="col-xs-12 col-sm-10">
  {{input
    class="form-control"
    id="caption"
    placeholder="Image Caption"
    type="text"
    value=caption}}
</div>
