<div class="collection">
  <div class="coverImage" style={{backgroundImage}}>
    <h1>{{collection.name}}</h1>
  </div>
  <h4>{{collection.desc}} - {{collection.user.email}}</h4>

  <div class="add-image-button">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalArt">
      Add Image
    </button>
  </div>
</div>
