<label class="col-xs-12 col-sm-3 col-md-3 control-label">Email</label>
<div class="col-xs-12 col-sm-9 col-md-9">
  {{input
    class="form-control"
    placeholder="email"
    type="email"
    value=email}}
</div>
