<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12">
    {{collection-update collection=model action='saveCollection'}}
  </div>
</div>

{{#each model.arts as |art|}}
  {{art-index art=art}}
{{else}}
  <h4>This image collection is empty.</h4>
{{/each}}
