{{!-- <div class="well well-lg">
  <h3>{{model.email}}</h3>

  {{my-profile routeUpdateProfile="editUser" user=model}}
</div> --}}

<div class="row">
  <div class="col-md-4">
    {{#profile-show user=model badge=user.avatar}}
      {{#link-to 'userEdit' model class='btn btn-success btn-xs'}}
        Edit
      {{/link-to}}
    {{/profile-show}}
  </div>
</div>
