<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-9">
    {{#profile-show user=model badge=user.avatar}}
      {{#link-to 'userEdit' model class='btn btn-success btn-xs'}}
        Edit
      {{/link-to}}
    {{/profile-show}}
  </div>
</div>
