<div class="col-xs-12 col-sm-12 col-md-12">
  {{#profile-show user=model badge=user.avatar}}
    {{#link-to 'userEdit' model class='btn btn-default'}}
      Edit
    {{/link-to}}
  {{/profile-show}}
</div>
