<h3>Specific User - {{model.email}}</h3>
{{my-profile routeUpdateProfile="updateUser"}}

{{!-- {{#each model.user as |eachUser|}}
  {{my-profile user=eachUser routeUpdateProfile='updateUser'}}
{{/each}} --}}
